.description {
    width: 100%;
    margin-bottom: 2rem;
}

.apartment_description_container {
    margin-inline: 2rem;
}

/****** Media queries ***********/
@media (max-width: 767.98px) {
    .banner {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
