.container_apartmentPage {
    margin-inline: 3rem;
    margin-bottom: 4rem;
}

.description_area {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.description_area i {
    cursor: pointer;
}
