.description {
    width: 50%;
    overflow: hidden;
}

.description p {
    margin-block: 0;
}

.description_header {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0; 
    font-size: 1.2rem;
    cursor: pointer;
}

.description_header i {
    font-size: 2rem;
    cursor: pointer;
}

/* .description_content {
    background-color: rgb(240, 240, 225);
    margin-top: 0;
    padding-top: 1rem;
    padding-inline: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    position: relative;
    top: -1rem;
    z-index: -1;
    color: #FF6060;
    transition: transform 0.3s ease-in-out;
} */

.description_content {
    background-color: rgb(240, 240, 225);
    padding: 1rem;
    font-size: 1.2rem;
    color: #FF6060;
    /* transition: transform 0.3s ease-in-out; */
    overflow: hidden; /* Empêche le contenu de déborder */
    max-height: 1000px; /* Hauteur maximale pour le contenu visible */
    transition: max-height 0.3s ease-in-out; /* Utilisez la hauteur maximale pour créer une transition */
}

.description_content .hidden {
    /* transform: translateY(-100%); */
    max-height: 0; /* Hauteur maximale pour le contenu caché */
}


.description_content .visible {
      transform: translateY(0);
}

.description_header {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0; 
    font-size: 1.2rem;
    cursor: pointer;
}

.description_header i {
    font-size: 2rem;
    cursor: pointer;
}


@media (max-width: 767.98px){
    .apartments {
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 0;
    }
    .proprio {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .description_area {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
        
    }
    .description {
        width: 100%;
    }
}