.apartments {
    border-radius: 2rem;
    background-color: #e6e6ea;
    min-height: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
}

@media screen and (width <= 768px){
    .apartments {
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 0;
    }
}

