.apartments {
    border-radius: 2rem;
    background-color: #e6e6ea;
    min-height: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
}



