.apartment_page_banner {
    width: 95%;
    height: 300px;
    border-radius: 2rem;
    object-fit: cover;
    margin-inline: 2rem;
    filter: brightness(70%);
}

.banner_text {
    position: relative;
    color: white;
    top: -200px;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}